{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Calma Planner 🌿{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'planner/style.css' %}">
</head>

<body>

<!-- Navbar -->
<nav class="navbar">

    <!-- Left side -->
        <a href="{% url 'home' %}" class="planner-btn">Home</a>
        <a href="{% url 'checkin_history' %}" class="planner-btn">Daily Check-in</a>
        <a href="{% url 'study_planner' %}" class="planner-btn">Study Planner</a>

    <!-- Right side -->


        <!-- Night Mode -->
<button id="night-mode-toggle" class="planner-btn">🌙</button>

        <!-- Auth -->
        <a href="/signup/" class="planner-btn">Sign Up</a>
        <a href="/login/" class="planner-btn">Login</a>
    </div>
        <!-- Language Switcher -->
        <div class="language-switcher">
            <select id="language-select">
                <option value="en" selected>English</option>
                <option value="ar">العربية</option>
            </select>
            </div>

</nav>

<!-- Main content -->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'planner/script.js' %}"></script>

<script>
    // Night Mode
    document.getElementById('nightmodetoggle').onclick = () => {
        document.body.classList.toggle('night-mode');
    };

    // Language switch (UI فقط)
    document.getElementById('language-select').onchange = function () {
        alert("Language switched to: " + this.value);
    };


const nightToggle = document.getElementById("night-mode-toggle");

  nightToggle.addEventListener("click", function () {
    document.body.classList.toggle("night-mode");
    console.log("Dark mode toggled");
  });
</script>


</body>
</html>
